/* Background images */
.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Card container */
.banner-card-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 20px;
}

/* Text styles */
.banner-heading {
  font-size: 24px;
  color: #326a9d;
  margin-bottom: 12px;
}

.banner-description {
  font-size: 16px;
  color: #64748b;
  margin-bottom: 20px;
  max-width: 55%;
}

/* Button */
.show-more-button {
  background-color: transparent;
  border: 2px solid #326a9d;
  color: #326a9d;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;

  display: block;         
  margin: 0 auto;         
}


/* Card-specific alignment */
.card-2 .banner-heading,
.card-2 .banner-description,
.card-2 .show-more-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-3 .banner-heading,
.card-3 .banner-description,
.card-3 .show-more-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
