* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your code here. */
.app-container {
  min-height: 100vh;
  background-color: #cbced2;
  padding: 20px;
}

.banner-cards-list {
  list-style-type: none;
  padding-left: 0;
}